/* Override some default style*/
.leaflet-container {
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  padding: 0;
}

.leaflet-popup-content{
  margin: 0;
}

.leaflet-control-attribution {
  display: none;
}

/* Finish overriding */

.marker-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marker-price {
  position: absolute;
  background-color: #235d9f;
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  top: -8px;
  translate: 0% -100%;
}

.marker-triangle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #235d9f;
  transform: rotate(45deg);
  top: -14px;
}

.marker-dot {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: orange;
  border-radius: 50%;
  margin-top: -4px;
  margin-left: -4px;
}

.marker-selected {
  opacity: 0;
  pointer-events: none;
}

.marker-visited {
  background-color: rgb(104, 113, 118);
}